<app-home-bar></app-home-bar>
<div class="content">
    <div class="title-part">
        <h1>Bienvenue sur l'espace de gestion</h1>
        <h1>de votre miroir connecté</h1>
    </div>
    <div class="button-part">
        <button mat-raised-button color="primary" [routerLink]="['/login']">
                Log In
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/register']">
                Register
        </button>
        <button mat-raised-button color="accent" [routerLink]="['/home']">
            Settings
        </button>
    </div>
</div>
