<app-home-bar></app-home-bar>
<div class="content">
    <div class="title">
        <h1>Bienvenue sur votre</h1>
        <h1>miroir connecté</h1>
    </div>
    <div class="button-part">
        <button mat-raised-button color="primary" [routerLink]="['/login']">
                Connexion
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/register']">
                Inscription
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/settings']">
                Paramètres
        </button>
    </div>
</div>
