<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Uploading</title>
</head>
 
<body>
    <h1>Wifi Raspy info test</h1>
    <hr>
    <div>
        <form action="/html" method="POST" enctype="application/json">
            <div>
                <label for="ssid">SSID : </label>
                <input type="text" id="ssid" placeholder="SSID"
                value="" name="ssid" required>
               
            </div>
            <div>
                <label for="password">Password : </label>
                <input type="text" id="password" placeholder="password"
                value="" name="password" required>
            </div>
            
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
 
    <hr>
</body>
 
</html>