<app-website-bar></app-website-bar>
<div class="content">
    <form class="form   " name="registerForm">
        <h1>Page d'inscription</h1>
        <div class="form-part">
            <mat-form-field class="authentication-form">
                <mat-label>Username</mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div class="form-part">
            <mat-form-field class="authentication-form">
                <mat-label>Email</mat-label>
                <input matInput type="email">
            </mat-form-field>
        </div>
        <div class="form-part">
            <mat-form-field class="authentication-form">
                <mat-label>Password</mat-label>
                <input matInput type="password">
            </mat-form-field>
        </div>
        <div class="form-part">
            <mat-form-field class="authentication-form">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password">
            </mat-form-field>
        </div>
        <div class="form-part">
            <button mat-raised-button color="primary" type="submit">Sign Up</button>
        </div>
    </form>
 </div>
