<div class="content">
    <mat-progress-spinner *ngIf="loading" class="spinner" mode="indeterminate"></mat-progress-spinner>
    <div *ngIf="!loading" >
        <li *ngFor="let daily of filteredDaily; let isFirst = first;" >
            <div class="horizontal">
                <p>{{ daily.dt | date:'EEEE d MMM' }}</p>
                <img src="{{ daily.iconurl }}" alt="icone meteo " />
                <p>{{ daily.temp | number:'1.0-0' }}°C</p>
            </div>  
        </li>
    </div>
</div>
