<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <IndexSnippet> -->
<div class="jumbotron">
 
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>
<!-- </IndexSnippet> -->