.content {
    color: white;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.horizontal {
    display: inline-flex;
    justify-content: center;
}