.content {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
	list-style-type: none;
}

.horizontal {
	display: flex;
	align-items: center;
}

.spinner {
	stroke: white;
}

.first {
	font-size: xx-large;
	font-weight: bold;
}
