.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

button {
  margin: 5px;
}

.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
  font-size: xx-large;
}

.form {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
  height: 50%;
  box-shadow: 0px 0px 8px 0px black;
  padding: 30px;
}

.form-part {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-part {
  display: flex;
	flex-direction: row;
	justify-content: space-around;
}