<app-home-bar></app-home-bar>
<div class="content">
    <div class="welcome">
        <h1>Bienvenue {{ currentAccount.username }} !</h1>
        <h3>Choisissez votre profil</h3>
    </div>
    <div class="container-profile">
        <ng-container *ngFor="let profile of profiles;">
            <app-profile profileName='{{profile.name}}' profileImg='{{profile.img}}' (click)="choseProfile()"></app-profile>
        </ng-container>
    </div>
    <div class="create-profile">
        <p class="plus">+</p>
    </div>
</div>
