.content {
    height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

app-date {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    /*border: dotted 1px red;*/
}

app-weather {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    /*border: dotted 1px green;*/
}

app-digital-clock {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 2;
    /*border: dotted 1px yellow;*/
}

app-analog-clock {
    grid-column-start: 9;
    grid-column-end: 11;
    grid-row-start: 5;
    grid-row-end: 7;
    /*border: dotted 1px blue;*/
}

app-news {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
    /*border: dotted 1px blue;*/
}