.content {
    height: 100vh;
    background-color: black;
}

.widgets {
    display: flex;
    height: auto;
    border: solid 1px white;
}

app-date {
    border: dotted 1px red;
}

app-meteo {
    border: dotted 1px red;
}