/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-image: url(assets/icons/Medusa.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #104b35;
  
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}