<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<!DOCTYPE html>
<html>
  <head>
  <body>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}!</h4>
  {{else}}
    <a href="/outlook/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>
</html>

