<app-home-bar></app-home-bar>
<div class="content">
   <form class="form">
      <div class="title">
         <h3>Choisissez les widgets que vous voulez afficher</h3>
      </div>
      <div class="form-part">
            <ng-container class="form-part" *ngFor="let widget of widgetName | keyvalue">
               <ul>
                  <input type="checkbox" id="{{ widget.value }}">
                  <label for="{{ widget.value }}">{{ widget.value }}</label>
               </ul>
            </ng-container>
      </div>
      <div class="button-part">
         <button mat-raised-button color="primary"(click)="onSubmit()">
            Valider
         </button>
     </div>
   </form>
</div>