.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid red;
	width: 200px;
	margin: auto;
}

.container-image {
	width: 200px;
	height: 200px;
	border: 1px solid blue;
}

.container-image img {
	height: 100%;
	width: 100%;
}

.container-title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border: 1px solid green;
}

h1 {
	font-size: x-large;
}